<template>
  <div>
    <h1>Edit Post</h1>
    <el-row>
      <el-col :span="10" :offset="7">
        <el-card width="100%">
          <el-form
            :model="ruleForm"
            :rules="rules"
            ref="ruleForm"
            label-width="120px"
            class="demo-ruleForm"
          >
            <el-form-item label="Author ID" prop="name">
              <el-input v-model="ruleForm.name" prop="authorId" label="authorId"></el-input>
            </el-form-item>
            <el-form-item label="Post" prop="desc">
              <el-input
                type="textarea"
                :rows="6"
                v-model="ruleForm.desc"
                prop="content"
                label="content"
              ></el-input>
            </el-form-item>
            <el-form-item>
              <el-button class="creBut" type="success" @click="submitForm('ruleForm')">Edit</el-button>
              <router-link to="/">
                <el-button type="primary">Back</el-button>
              </router-link>
            </el-form-item>
          </el-form>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "PostEdit",
  data() {
    return {
      posts: [],
      ruleForm: {
        name: [],
        desc: []
      },
      rules: {
        name: [
          {
            required: true,
            message: "Please input Activity name",
            trigger: "blur"
          }
        ],
        desc: [
          {
            required: true,
            message: "Please input activity form",
            trigger: "blur"
          }
        ]
      }
    };
  },
  created() {
    this.id = this.$route.params.id;
  },
  mounted() {
    axios
      .get("http://localhost:3000/api/Posts/" + this.id)
      .then(res => (this.ruleForm.name = res.data.authorId));

    axios
      .get("http://localhost:3000/api/Posts/" + this.id)
      .then(res => (this.ruleForm.desc = res.data.content));
  },
  methods: {
    submitForm(ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        if (valid) {
          alert("Edited!!");
          axios
            .put("http://localhost:3000/api/Posts/" + this.id, {
              content: this.ruleForm.desc,
              authorId: this.ruleForm.name
            })
            .then(function(response) {
              window.location = response.data.redirect;
              // this.$notify.push({
              //   title: "Success",
              //   message: "This is a success message",
              //   type: "success"
              // });
              
            });
        }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.creBut {
  margin-right: 15px;
}
</style>