<template>
  <div class="table">
    <h1>Post</h1>
    <el-row>
      <el-col :span="16" :offset="4">
        <el-card width="100%">
          <router-link :to="{name: 'PostCreate'}">
            <el-tooltip content="Create Post" placement="top" effect="light">
              <el-button class="createBut" type="success" icon="el-icon-plus">Create Post</el-button>
            </el-tooltip>
          </router-link>
          <el-table :data="posts" stripe width="100%">
            <el-table-column prop="authorId" label="Author ID" width="150px"></el-table-column>
            <el-table-column prop="content" label="Content" width="700px"></el-table-column>
            <el-table-column align="center">
              <template slot-scope="scope">
                <el-button-group>
                  <el-tooltip content="Post Details" placement="top" effect="light">
                    <el-button
                      @click="handleDetail(scope.$index, scope.row)"
                      icon="el-icon-document"
                      type="primary"
                    ></el-button>
                  </el-tooltip>
                  <el-tooltip content="Edit Post" placement="top" effect="light">
                    <el-button
                      @click="handleEdit(scope.$index, scope.row)"
                      icon="el-icon-edit-outline"
                      type="warning"
                    ></el-button>
                  </el-tooltip>
                  <el-tooltip content="Delete Post" placement="top" effect="light">
                    <el-button
                      type="danger"
                      icon="el-icon-close"
                      @click.prevent="handleDelete(scope.$index, scope.row)"
                    ></el-button>
                  </el-tooltip>
                </el-button-group>
              </template>
            </el-table-column>
          </el-table>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Post",
  data() {
    return {
      posts: []
    };
  },
  mounted() {
    axios
      .get("http://localhost:3000/api/Posts")
      .then(response => (this.posts = response.data));
  },
  methods: {
    handleDelete(index, row) {
      axios.delete("http://localhost:3000/api/Posts/" + row.id).then(() => {
        this.posts.splice(index, 1);
      });
      alert("Deleted!!");
    },
    handleEdit(index, row) {
      return this.$router.push({ name: "PostEdit", params: {id: row.id }})
    },
    handleDetail(index, row) {
      return this.$router.push({ name: "PostDetail", params: {id: row.id }})
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.table {
  text-align: center;
}
.el-row {
  margin-bottom: 20px;
}
.el-col {
  border-radius: 4px;
}
.createBut {
  margin: 15px;
  margin-left: 85%;
}
</style>