<template>
  <div>
    <h1>Crate Post</h1>
    {{ ruleForm.name }}
    {{ ruleForm.desc }}
    <el-row>
      <el-col :span="10" :offset="7">
        <el-card width="100%">
          <el-form
            :model="ruleForm"
            :rules="rules"
            ref="ruleForm"
            label-width="120px"
            class="demo-ruleForm"
          >
            <el-form-item label="Author ID" prop="name">
              <el-input v-model="ruleForm.name"></el-input>
            </el-form-item>
            <el-form-item label="Post" prop="desc">
              <el-input type="textarea" :rows="6" v-model="ruleForm.desc"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button class="creBut" type="success" @click="submitForm('ruleForm')">Create</el-button>
              <router-link to="/">
                <el-button type="primary">Back</el-button>
              </router-link>
            </el-form-item>
          </el-form>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "PostCreate",
  data() {
    return {
      ruleForm: {
        name: "",
        desc: ""
      },
      rules: {
        name: [
          {
            required: true,
            message: "Please input Activity name",
            trigger: "blur"
          },
          {
            max: 6,
            message: "Length should be 6",
            trigger: "blur"
          }
        ],
        desc: [
          {
            required: true,
            message: "Please input activity form",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    submitForm(ruleForm) {
      this.$refs[ruleForm].validate(valid => {
        if (valid) {
          alert("Posted!!");
          axios
            .post("http://localhost:3000/api/Posts", {
              content: this.ruleForm.desc,
              authorId: this.ruleForm.name
            })
            .then(function(response) {
              window.location = response.data.redirect;
              this.$notify.push({
                title: "Success",
                message: "This is a success message",
                type: "success"
              });
            });
        }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.creBut {
  margin-right: 15px;
}
</style>