<template>
  <div>
    <h1>Post Details</h1>
    <el-row>
      <el-col :span="12" :offset="6">
        <el-card width="100%">
          <table class="table">
            <thead>
              <tr>
                <th>Author ID</th>
                <th>Content</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ posts.authorId}}</td>
                <td>{{ posts.content }}</td>
              </tr>
            </tbody>
          </table>
          <el-button class="createBut" type="success" @click="handleEdit(posts.id)">Edit</el-button>
          <router-link to="/">
            <el-button type="primary">Back</el-button>
          </router-link>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "PostDetail",
  data() {
    return {
      posts: []
    };
  },
  created() {
    this.id = this.$route.params.id;
  },
  mounted() {
    axios
      .get("http://localhost:3000/api/Posts/" + this.id)
      .then(response => (this.posts = response.data));
  },
  methods: {
    handleEdit(id) {
      return this.$router.push({ name: "PostEdit", params: {id: id }})
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.table {
  text-align: center;
  align-items: center;
}

table {
  width: 95%;
  margin: 20px;
}

th {
  height: 40px;
  background-color: #4CAF50;
  color: white;
  
}
th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.createBut {
  margin: 15px;
}
</style>